%form.form-horizontal
  %fieldset
    .form-group
      %label.col-lg-1.text-nowrap Date
      .col-lg-2
        %std-date-picker(date='fields.date' disabled='!jogtime')
      %label.col-lg-1 Duration
      .col-lg-1
        .input-group.input-group-sm
          %input.form-control(type='number' ng-model='fields.hours' min='0' placeholder='HH' ng-disabled='!jogtime')
      .col-lg-1
        .input-group.input-group-sm
          %input.form-control(type='number' ng-model='fields.minutes' min='0' placeholder='MM' ng-disabled='!jogtime')
      %label.col-lg-1 Distance
      %input.col-lg-1(type='text' ng-model='fields.distance' ng-disabled='!jogtime')
      .col-lg-1
        %button.btn.btn-sm.btn-primary(ng-click='submitFields()' ng-disabled='!jogtime') {{ fields.id ? 'Update' : 'Add' }}
      .col-lg-1
        %button.btn.btn-sm.btn-danger(ng-if='fields.id' ng-click='onDelete()()' ng-disabled='!jogtime') Delete
  .alert.alert-danger(ng-show='errorMessage.length > 0') {{ errorMessage }}
