%form.form-horizontal(ng-init='signInFields = {}' ng-submit='signIn(signInFields)')
  .form-group
    %label.col-lg-2 Email
    .col-lg-10
      %input.form-control(type='text' ng-model='signInFields.email')
  .form-group
    %label.col-lg-2 Password
    .col-lg-10
      %input.form-control(type='password' ng-model='signInFields.password')
  .form-group
    .col-lg-10.col-lg-offset-2
      %button.btn.btn-primary Please Sign-In
  .alert.alert-danger(ng-show='signInError.length > 0') {{ signInError }}
