.input-group.input-group-sm
  %input.form-control(uib-datepicker-popup ng-model='date' is-open='displayDate' ng-model-options='{allowInvalid: false, timezone: "UTC"}' placeholder='Select date' ng-disabled='disabled')
  %span.input-group-btn
    %button.btn.btn-default(ng-click='displayDate = true')
      %i.glyphicon.glyphicon-calendar
