.container(ng-controller='HomeController')
  .navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        .navbar-brand TopTal Test App
      %ul.nav.navbar-nav.navbar-right
        %li
          %a(ng-click='signOut()' ng-if='user.signedIn') Sign Out
      %ul.nav.navbar-nav.navbar-right(ng-repeat='state in stateTypes' ng-if='user.signedIn && user.roles.length > 0')
        %li(ng-class='{active: currentState == state}')
          %a(ng-click='setHomeState(state)') {{ stateLabels[state] }}
  .container
    .navbar.navbar-default &nbsp;
    .row(ng-if='user.signedOut && !user.signedIn')
      .col-lg-5
        %h3 Already have an account? Sign in now!
        %sign-in
      .col-lg-2
        %h1.text-center - OR -
      .col-lg-5
        %h3 Want to get started? Register now!
        %sign-up
    .container(ng-if='user.signedIn')
      %h1 Welcome, {{ user.email }}!
      %jog-time-viewer(ng-show='currentState == "jogtimes"')
      %user-list(ng-show='currentState == "users"' impersonate='impersonateUser')
