.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      .navbar-brand TopTal Test App
    %ul.nav.navbar-nav.navbar-right
      %li
        %a(ng-click='signOut()' ng-if='user.signedIn') Sign Out
.container
  .navbar.navbar-default &nbsp;
  %sign-in
  .container(ng-if='user.signedIn')
    Welcome to JogTime!